[user]
	email = jonasdamtoft@hotmail.com
	name = Jonas Damtoft
[push]
	default = simple
[core]
	autocrlf = input
	hooksPath = /home/jomik/.git-hooks
[users]
	email = Jomik@users.noreply.github.com
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[alias]
	unstage = reset HEAD --
	last = log -3 HEAD
	discard = checkout --
