[user]
	email = jonasdamtoft@hotmail.com
	name = Jonas Damtoft
[push]
	default = simple
[core]
	autocrlf = input
	hooksPath = /home/jomik/.git-hooks
[users]
	email = Jomik@users.noreply.github.com
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[alias]
	dotfiles = !git --git-dir $HOME/.dotfiles/.git --work-tree=$HOME
	unstage = reset HEAD --
	discard = checkout --
	last = log -3 HEAD
	ignore = "!f() { echo \"$1\" >> .gitignore; }; f"
	oops = commit --amend --no-edit
	ignored = ls-files --others --i --exclude-standard
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
